<%= form_for @post do |f| %>
<% if @post.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger">
      <li><%= msg %></li>
      </div>
    <% end %>
    </ul>
  </div>
<% end %>
  <p>
    <%= f.label :Content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.label :Visibility %><br>
    <%= f.select :visibility, [['Friend',true] ,['Public',true]],{prompt: 'Select Visibility'}%>
  </p>

  <p>
  	<% if @post.image.present? %>
		 <%= image_tag @post.image,:width => 60, :height => 60 %>
	    <p>
      <%= link_to remove_image_path(@post), data: {toggle: "tooltip", placement: "right"}, title: "Delete",method: :delete do %>
  	    <span class="glyphicon glyphicon-remove"></span>
    	  <% end %>
      </p>
    <%end%>		    
  </p>

  <p>
    <%= f.label :Image %><br>
    <%= f.file_field :image %>
  </p>

   <p>
    <%= f.label :Select_Date %>
   <div style="height: 30px;width: 250px;"> <%= f.date_field :view_untill %></div>
  </p>
  <p>

  <p>
    <div style="margin-top:30px">
      <%= f.submit "Save" %>
    </div>
  </p>

<% end %>



